body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  width: 85vw;
  /* min-height: 80vh; */
  /* min-height: 1000px; */
  max-width: 75%;
  margin: 35px auto;
  /* background-image: url("img/pickle-rick.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: darkolivegreen; */
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.content{
  width:100%;
  min-height: 1000px;
  background-image: url("img/pickle-rick.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: darkolivegreen;
  padding-top: 10px;

}

a{
  text-decoration: none;
  color: inherit;
  
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}
/*
.main-img {
  display: block;
  border-radius: 100%;
  margin: 0 auto;
} */

header h1 {
  text-align: center;
}
